<div class="banniere"></div>
<div class="row">
    <div class="sidebar">
        <div class="col-lg-5">
            <h4 class="sidebar-title">Filtres</h4>
            <ul>
				<li><span>Date</span></li>
				<div style="text-align: center;">
					<br>
					<tr>
						<td>L</td>
						<td>M</td>
						<td>M</td>
						<td>J</td>
						<td>V</td>
						<td>S</td>
						<td>D</td>
					</tr>
					<tr>
						<td><input type="button" value="1" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="2" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="3" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="4" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="5" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="6" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="7" onclick="alert('Coucou.')" class="case"></td>
					</tr>
					<tr>
						<td><input type="button" value="8" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="9" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="10" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="11" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="12" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="13" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="14" onclick="alert('Coucou.')" class="case"></td>
					</tr>
					<tr>
						<td><input type="button" value="15" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="16" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="17" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="18" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="19" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="20" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="21" onclick="alert('Coucou.')" class="case"></td>
					</tr>

					<tr>
						<td><input type="button" value="22" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="23" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="24" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="25" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="26" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="27" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="28" onclick="alert('Coucou.')" class="case"></td>
					</tr>
					<tr>
						<td><input type="button" value="29" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="30" onclick="alert('Coucou.')" class="case"></td>
						<td><input type="button" value="31" onclick="alert('Coucou.')" class="case"></td>
					</tr>

				</div>
				<br>
				<br>
				<li>Nombre de passager</li>
				<input type="text" value="1" />
				<br>
				<br>
				<li>Lieu</li>
				<input type="text" value="France" />
				<br>
				<br>
				<li>Prix</li>
				<td>Min<input type="text" value="min"></td>
				<br>
				<td>Max<input type="text" value="max" onclick="alert('Coucou.')"></td>
				<br>
				<br>
				<input type="submit" value="valider" class="btn btn-primary"/>

			</ul>
            <hr>
        </div>
    </div>

    <div class="col-lg-7" style="left: 200px; text-align: center;">
		<h1>Les destinations</h1>


        <br />
        <h3>
            <a [title]="vacances2.destinationname1 + ' Select'">
                {{ vacances2.destinationname1 }}
            </a>
        </h3>
        <img src="{{vacances2.image1}}" alt="image" class="image" />

        <h4>{{vacances2.price1 | currency }}</h4>
        <p *ngIf="vacances2.description1">
            {{ vacances2.description1 }}
        </p>

        <button (click)="addToCart(vacances2)">Buy</button>

        <hr>

        <h3>
            <a [title]="vacances2.destinationname2 + ' Select'">
                {{ vacances2.destinationname2 }}
            </a>
        </h3>
        <img src="{{vacances2.image2}}" alt="image" class="image" />

        <h4>{{vacances2.price2 | currency }}</h4>
        <p *ngIf="vacances2.description2">
            {{ vacances2.description2 }}
        </p>
        <button (click)="addToCart(vacances)">Buy</button>
        <hr>

        <h3>
            <a [title]="vacances2.destinationname3 + ' Select'">
                {{ vacances2.destinationname3 }}
            </a>
        </h3>
        <img *ngIf="vacances2.image3" src="{{vacances2.image3}}" alt="image" class="image" />

        <h4>{{vacances2.price3 | currency }}</h4>
        <p *ngIf="vacances2.description3">
            {{ vacances2.description3 }}
        </p>
        <button (click)="addToCart(vacances)">Buy</button>

        <hr>

    </div>
</div>