<div class="banniere"></div>
<div class="row">
    <div class="sidebar">
        <div class="col-lg-5">
            <br>
            <br>
            <li style="color:teal;">Lieux</li><br />
            <div style="color: royalblue; font-family: Tahoma;">
                <b>
                    <ul>
                        <li>{{ vacances2.destination.destination1.name }}</li>
                        <li>{{ vacances2.destination.destination2.name }}</li>
                        <li>{{ vacances2.destination.destination3.name }}</li>
                    </ul>
                </b>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="col-lg-7" style="left: 200px; text-align: center;">
        <h1>Les destinations</h1>
        <hr>
        <br />
        <h3>
            {{ vacances2.name }} /
            <a [title]="vacances2.destination.destination1.name + ' Select'" style="color: red;">
                <b>{{ vacances2.destination.destination1.name }}</b>
            </a>
        </h3>
        <img src="{{vacances2.destination.destination1.image}}" alt="image" class="image" />
        <br /><br />
        <p *ngIf="vacances2.destination.destination1.description" style="font-weight: bold;">
            <i>{{ vacances2.destination.destination1.description }}</i>
        </p>
        <table width="100%" bordercolor="#808080" border-inside="vsides" rules="cols">
            <tr>
                <td>
                    <h4>{{vacances2.destination.destination1.date.date1.price | currency }}</h4>
                    <p>{{vacances2.destination.destination1.date.date1.depart}}
                        {{vacances2.destination.destination1.date.date1.arrivee}}</p>
                </td>
                <td frame="vsides">
                    <h4>{{vacances2.destination.destination1.date.date2.price | currency }}</h4>
                    <p>{{vacances2.destination.destination1.date.date2.depart}}
                        {{vacances2.destination.destination1.date.date2.arrivee}}</p>
                </td>
                <td>
                    <h4>{{vacances2.destination.destination1.date.date3.price | currency }}</h4>
                    <p>{{vacances2.destination.destination1.date.date3.depart}}
                        {{vacances2.destination.destination1.date.date3.arrivee}}</p>
                </td>
            </tr>
            <tr>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination1.name, vacances2.destination.destination1.date.date1.price, vacances2.destination.destination1.date.date1.depart, vacances2.destination.destination1.date.date1.arrivee)">Acheter</button>
                    </td>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination1.name, vacances2.destination.destination1.date.date2.price, vacances2.destination.destination1.date.date2.depart, vacances2.destination.destination1.date.date2.arrivee)">Acheter</button>
                    </td>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination1.name, vacances2.destination.destination1.date.date3.price, vacances2.destination.destination1.date.date3.depart, vacances2.destination.destination1.date.date3.arrivee)">Acheter</button>
                    </td>
            </tr>
        </table>

        <hr>
        <br />

        <h3>
            {{ vacances2.name }} /
            <a [title]="vacances2.destination.destination2.name + ' Select'" style="color: red;">
                <b>{{ vacances2.destination.destination2.name }}</b>
            </a>
        </h3>
        <img src="{{vacances2.destination.destination2.image}}" alt="image" class="image" />
        <br /><br />
        <p *ngIf="vacances2.destination.destination2.description" style="font-weight: bold;">
            <i>{{ vacances2.destination.destination2.description }}</i>
        </p>
        <table width="100%" bordercolor="#808080" border-inside="vsides" rules="cols">
            <tr>
                <td>
                    <h4>{{vacances2.destination.destination2.date.date1.price | currency }}</h4>
                    <p>{{vacances2.destination.destination2.date.date1.depart}}
                        {{vacances2.destination.destination2.date.date1.arrivee}}</p>
                </td>
                <td frame="vsides">
                    <h4>{{vacances2.destination.destination2.date.date2.price | currency }}</h4>
                    <p>{{vacances2.destination.destination2.date.date2.depart}}
                        {{vacances2.destination.destination2.date.date2.arrivee}}</p>
                </td>
                <td>
                    <h4>{{vacances2.destination.destination2.date.date3.price | currency }}</h4>
                    <p>{{vacances2.destination.destination2.date.date3.depart}}
                        {{vacances2.destination.destination2.date.date3.arrivee}}</p>
                </td>
            </tr>
            <tr>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination2.name, vacances2.destination.destination2.date.date1.price, vacances2.destination.destination2.date.date1.depart, vacances2.destination.destination2.date.date1.arrivee)">Acheter</button>
                    </td>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination2.name, vacances2.destination.destination2.date.date2.price, vacances2.destination.destination2.date.date2.depart, vacances2.destination.destination2.date.date2.arrivee)">Acheter</button>
                    </td>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination2.name, vacances2.destination.destination2.date.date3.price, vacances2.destination.destination2.date.date3.depart, vacances2.destination.destination2.date.date3.arrivee)">Acheter</button>
                    </td>
            </tr>
        </table>

        <hr>
        <br />

        <h3>
            {{ vacances2.name }} /
            <a [title]="vacances2.destination.destination3.name + ' Select'" style="color: red;">
                <b>{{ vacances2.destination.destination3.name }}</b>
            </a>
        </h3>
        <img src="{{vacances2.destination.destination3.image}}" alt="image" class="image" />
        <br /><br />
        <p *ngIf="vacances2.destination.destination3.description" style="font-weight: bold;">
            <i>{{ vacances2.destination.destination3.description }}</i>
        </p>
        <table width="100%" bordercolor="#808080" border-inside="vsides" rules="cols">
            <tr>
                <td>
                    <h4>{{vacances2.destination.destination3.date.date1.price | currency }}</h4>
                    <p>{{vacances2.destination.destination3.date.date1.depart}}
                        {{vacances2.destination.destination3.date.date1.arrivee}}</p>
                </td>
                <td frame="vsides">
                    <h4>{{vacances2.destination.destination3.date.date2.price | currency }}</h4>
                    <p>{{vacances2.destination.destination3.date.date2.depart}}
                        {{vacances2.destination.destination3.date.date2.arrivee}}</p>
                </td>
                <td>
                    <h4>{{vacances2.destination.destination3.date.date3.price | currency }}</h4>
                    <p>{{vacances2.destination.destination3.date.date3.depart}}
                        {{vacances2.destination.destination3.date.date3.arrivee}}</p>
                </td>
            </tr>
            <tr>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination3.name, vacances2.destination.destination3.date.date1.price, vacances2.destination.destination3.date.date1.depart, vacances2.destination.destination3.date.date1.arrivee)">Acheter</button>
                    </td>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination3.name, vacances2.destination.destination3.date.date2.price, vacances2.destination.destination3.date.date2.depart, vacances2.destination.destination3.date.date2.arrivee)">Acheter</button>
                    </td>
                    <td> <button (click)="addToCart(vacances2.name, vacances2.destination.destination3.name, vacances2.destination.destination3.date.date3.price, vacances2.destination.destination3.date.date3.depart, vacances2.destination.destination3.date.date3.arrivee)">Acheter</button>
                    </td>
            </tr>
        </table>
    </div>
</div>