<h1 style="text-align: center;">Formulaire d'inscription</h1>

<form [formGroup]="form" id="monForm">

    <table>
        <tr>
            <td><label>Nom</label></td>
            <td><input type="text" placeholder="saisir votre nom" /> </td>
        </tr>
        <tr>
            <td><label>Prenom</label></td>
            <td><input type="text" placeholder="saisir votre prenom" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="email" placeholder="saisir votre Email" /></td>
        </tr>
        <tr>
            <td><label>Mot de passe</label></td>
            <td><input type="password" placeholder="saisir votre mot de passe" /></td>
        </tr>
        <tr>
            <td>Sexe</td>
            <td>
                Masculin <input type="radio" name="sexe" value="M" checked="checked">
                Féminin <input type="radio" name="sexe" value="F">
            </td>
        </tr>
        <tr>
            <td><label>Photo</label></td>
            <td><input type="file" accept="image/jpeg,image/png"></td>
        </tr>
        <input type="submit" (click)="Valider()" value="Valider" class="btn btn-primary"/>

    </table>
</form>
<router-outlet></router-outlet>