<div class="container">
    <form [formGroup]="form">
        <div class="card">
            <div class="card-header">Formulaire d'inscription</div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Sexe</label>
                        <input type="text" name="civi" value="M,F" class="form-control" formControlName="sexe" />
                        <p *ngIf="form.get('sexe').invalid && form.get('sexe').touched" style="color:red">sexe est
                            obligatoire !</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Nom</label>
                        <input type="text" class="form-control" formControlName="nom" />
                        <p *ngIf="form.get('nom').invalid && form.get('nom').touched" style="color:red">Nom est
                            obligatoire !</p>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Prénom</label>
                        <input type="text" class="form-control" formControlName="prenom" />
                        <p *ngIf="form.get('prenom').invalid && form.get('prenom').touched" style="color:red">Prenom est
                            obligatoire
                            !</p>

                    </div>
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control" formControlName="email" />
                        <p *ngIf="form.get('email').invalid && form.get('email').touched" style="color:red">Email est
                            obligatoire
                            !</p>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" formControlName="motdepasse" />
                        <p *ngIf="form.get('motdepasse').invalid && form.get('motdepasse').touched" style="color:red">
                            Mot de passe est
                            obligatoire !
                        </p>

                    </div>
                    <div class="form-group col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <input type="submit" value="envoyer" [disabled]="!form.valid" class="btn btn-success"
                            (click)="envoyer()" [routerLink]="['/projet/connexion']" />

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<router-outlet></router-outlet>