<header class="topbar">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-1">
            <a [routerLink]="['/']" class="btn btn-dark">Accueil</a>

        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2" style="text-align: center;">
            <h3 style="text-align: center;">Journey Holliday</h3>
            <img src="../../assets/image/logo.png" style="width: 100px;" />
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-1">
            <a [routerLink]="['/cart']" class="btn btn-danger social">Panier</a>
        </div>
        <div class="col-lg-1">
        </div>

       
        
    </div>
</header>
<div class="banniere"></div>