<header class="topbar">
    <div class="row">
        <div class="col-lg-2">
            <a [routerLink]="['/']"><img src="../../assets/image/logo.png" style="width: 130px; border-radius: 20px;" />
            </a>
        </div>
        <div class="col-lg-8" style="text-align: center;">
            <h3 style="font: italic small-caps bold 40pt/50px Comic Sans MS;">Journey Holliday</h3>
            <br>
            <p style="font-style: italic;">Allumez le feu des reacteurs pour vous envoler</p>
        </div>
        
        <div class="col-lg-1">
            <a [routerLink]="['/projet/connexion']" class="btn btn-warning">Connexion</a>
        </div>
        <div class="col-lg-1">
            <a [routerLink]="['/panier']" class="btn btn-danger">Panier</a>
        </div>



    </div>
</header>
